{
  "mcpServers": {
    "laravel-boost": {
      "command": "php",
      "args": [
        "./artisan",
        "boost:mcp"
      ]
    },
    "herd": {
      "command": "${HERD_COMMAND}",
      "args": [
        "${HERD_ARGS}"
      ],
      "env": {
        "SITE_PATH": "${SITE_PATH}"
      }
    }
  }
}
