@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --page-content: oklch(0.99 0.0011 197.13);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: 0 0% 98%;
  --color-page-content: oklch(0.99 0.0011 197.13);
  --color: pink;
  --blur-1-size: clamp(400px, 60vw, 60vw);
  --blur-2-size: clamp(300px, 40vw, 40vw);
  --blur-3-size: clamp(100px, 10vw, 10vw);
  --blur-amount: clamp(40px, 5vw, 90px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-page-content: oklch(0.99 0.0011 197.13);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --blur-amount: var(----blur-amount);
  --blur-3-size: var(----blur-3-size);
  --blur-2-size: var(----blur-2-size);
  --blur-1-size: var(----blur-1-size);
  --color: var(----color);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
            "rlig" 1,
            "calt" 1;
  }
}
@theme {
  --font-sans: "Clear Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-xxs: 0.67rem;
  --text-sm: 0.85rem;
  --text-base: 0.9rem;
  --text-lg: 1.0rem;
  --text-xl: 1.2rem;
  --text-2xl: 1.3rem;
  --text-3xl: 3.157rem;
  --text-3xl--line-height: 1.25;
  --text-4xl: 4.209rem;
  --text-4xl--line-height: 1.25;
  --text-5xl: 5.61rem;
  --text-5xl--line-height: 1.25;

  --grid-template-columns-6: repeat(6, minmax(0, 1fr));
  --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --grid-template-columns-24: repeat(24, minmax(0, 1fr));
  --grid-template-columns-32: repeat(32, minmax(0, 1fr));

  --grid-column-span-13: span 13 / span 13;
  --grid-column-span-14: span 14 / span 14;
  --grid-column-span-15: span 15 / span 15;
  --grid-column-span-16: span 16 / span 16;
  --grid-column-span-17: span 17 / span 17;
  --grid-column-span-18: span 18 / span 18;
  --grid-column-span-19: span 19 / span 19;
  --grid-column-span-20: span 20 / span 20;
  --grid-column-span-21: span 21 / span 21;
  --grid-column-span-22: span 22 / span 22;
  --grid-column-span-23: span 23 / span 23;
  --grid-column-span-24: span 24 / span 24;
  --grid-column-span-25: span 25 / span 25;
  --grid-column-span-26: span 26 / span 26;
  --grid-column-span-28: span 28 / span 28;
  --grid-column-span-32: span 32 / span 32;

  --grid-column-start-13: 13;
  --grid-column-start-14: 14;
  --grid-column-start-15: 15;
  --grid-column-start-16: 16;
  --grid-column-start-17: 17;
  --grid-column-start-18: 18;
  --grid-column-start-19: 19;
  --grid-column-start-20: 20;
  --grid-column-start-21: 21;
  --grid-column-start-22: 22;
  --grid-column-start-23: 23;
  --grid-column-start-24: 24;
  --grid-column-start-25: 25;
  --grid-column-start-26: 26;
  --grid-column-start-27: 27;
  --grid-column-start-28: 28;
  --grid-column-start-29: 29;
  --grid-column-start-30: 30;
  --grid-column-start-31: 31;
  --grid-column-start-32: 32;
  --grid-column-start-33: 33;
  --grid-column-start-34: 34;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
